:root{
  --primary-color: #393e46;
  --secondary-color : #282A3A;
  --button1-color : #69328f;
  --button2-color : #42855B;
  --input-color : #5d5d5f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.custom-form{
  background-color: var(--secondary-color);
}

.button1{
  padding: 10px;
  background-color: var(--button1-color);
  border:none;
  border-radius: 10px;
  color: white;
}

.button1:hover{
  background-color: #532773;
  color: white;
}

.button2{
  padding: 10px;
  background-color: var(--button2-color);
  border:none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button2:hover{
  background-color: #336344;
  color: white;
}

.logo{
  color: var(--button1-color);
}

.txtbg{
  background-color: var(--input-color);
  border: none;
}

.txtbg::placeholder{
  color:white;
  opacity: 1;
}

.txtbg:focus{
  background-color: var(--input-color);
  border: none;
}

.meetidbox{
  background-color: var(--input-color);
  width: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding:5px;
}
.cpybtn{
  background-color: var(--input-color);
  color: white;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.video-frame{
  min-height: 150px;
  position: relative;
}

.mini-player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls{
  position: fixed;
  bottom: 0;
  height: 10vh;
  background-color: #464545;
  z-index: 1;
  /* opacity: .8; */
}

.maincontent{
  margin-bottom: 10vh;
}

.video-wrapper{
    position: sticky;
    top:0;
    min-height: 350px;
    background-color: var(--primary-color);
    z-index: 1;
}
.video-player{
  min-height: 350px;
}

.chatbox{
  position: sticky;
  top:0;
  height: 70vh;
  background-color: #616161;

}


.chat-head{
  position: relative;
  top:0;
  background-color: #414142;
  height: 10vh;
}

.chat-content{
  overflow-y: auto;
  height: calc(100% - 20%);
}

.message-box{
  position: relative;
  width: 100%;
  bottom: 0;
  height: 10vh;
  background-color: #414142;
}

.align-chat{
  position: fixed;
  top:0;
  z-index: 2;
}
